#todolist {
  & .todolist {
    padding: 24px 0;
    background-color: #5ab4eb;
  }
  & .hover-cursor {
    cursor: pointer;
  }
  & .input-group {
    margin-bottom: 8px;
    & .input-group-addon {
      display: flex;
      align-items: center;
      background-color: #e9ecef;
      border-radius: 0 4px 4px 0;
      padding: 4px 8px;
      height: calc(1.5em + .75rem + 2px);
      border: solid #ced4da;
      border-width: 1px 1px 1px 0;
    }
  }
  & .form-error {
    font-weight: bold;
    font-size: 0.75rem;
    color: #d7202e;
    margin-top: 6px;
    padding: 2px 4px;
    border-radius: 4px;
  }
}

